ASPNETCORE_ENVIRONMENT=

# Default Values:
DEFAULT_USER=
DEFAULT_PASSWORD=
DEFAULT_DATABASE_NAME=

# PostgreSQL settings:
POSTGRES_USER=${DEFAULT_USER}
POSTGRES_PASSWORD=${DEFAULT_PASSWORD}
POSTGRES_DATABASE=${DEFAULT_DATABASE_NAME}

# API database settings:
DATABASE_HOST=${DEFAULT_USER}
DATABASE_PORT=
DATABASE_USER=${DEFAULT_USER}
DATABASE_NAME=${DEFAULT_DATABASE_NAME}
DATABASE_PASSWORD=${DEFAULT_PASSWORD}

# JWT settings:
JWT_SECRET=
JWT_EXPIRATION_MINUTES=

# Logging settings:
LOG_LEVEL=
LOG_PATH=